body {
    margin: 0;
}

nav {
    background-color: #b5b5b5;
    width:100%;
    position: relative;
    padding: 10px;
}

nav h1,
.nav {
    font-family: sans-serif;
    font-size: 20px;
}

nav h1,
ul.nav,
.nav li {
    display: inline-block;
}


nav h1,
ul.nav {
    margin:0;
    padding:0;
}

.nav {
    list-style-type: none;
    width: 75%;
    position: absolute;
    text-align: right;
    right: 30px;


}

.nav li {

    margin-right: 15px;
}

.nav a {
    text-decoration: none;
    color: purple;
}

.page_nav {
    margin-left: 20px;
    line-height: 30px;


}
.page_nav div {

padding:5px;
display:inline-block;
border: 1px solid #b5b5b5;
}

.page_nav a {

text-decoration: none;
color: black;

}

form button {

padding: 0px;
vertical-align: top;
border-radius: 3px;
}

form img {

    width:30px;
    height:30px;

}

form {
margin-top: 50px;
margin-left: 20px;

}

input[type="search"] {

font-size: 25px;
border-radius: 3px;

}
